@font-face {
    font-family: sourceSansPro;
    src: url(https://www.coronagraphs.online/fonts/SourceSansPro-Light.ttf)
}

@font-face { 
    font-family: sourceSansProBold;
    src: url(https://www.coronagraphs.online/fonts/SourceSansPro-Bold.ttf)
}
